<h3 class="text-center">Lesson History</h3>

<% @vocabulary_counts.each_pair do |level, count| %>
  <div class="card my-2 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters align-items-stretch">
      <div class="col-md-6 bg-gradient-light d-flex flex-column align-items-center justify-content-center">
        <h5 class="card-title">
          JLPT <%= level %>
        </h5>
        <p class="lead">
          <%= count %> words
        </p>

      </div>
      <div class="col-md-6 card-body pb-0" style="padding-top: 1px">
        <ul class="list-group list-group-flush">
          <%
            study_stats = @user_vocabularies_counts[level] || Hash.new(0)
            level_completion = (study_stats[:studied] / count.to_f * 100).truncate(2)
            total_practiced = study_stats[:correct] + study_stats[:incorrect]
            level_score = total_practiced.zero? ? 0.0 : ((([study_stats[:correct] - study_stats[:incorrect], 0].max) / total_practiced.to_f) * level_completion).round(2)
            grade =
              case level_score
              when (1..70) then "C"
              when (70..80) then "B"
              when (80..90) then "A"
              when (90..95) then "A+"
              when (95..100) then "S"
              else ""
              end
          %>
          <li class="list-group-item">
            <span>
              Total Studied: <%= study_stats[:studied] %> (<%=  level_completion %>%)
            </span>
            <div class="progress w-100">
              <div class="progress-bar" style="width: <%= level_completion %>%" role="progressbar" aria-valuenow="<%= study_stats[:studied] %>" aria-valuemin="0" aria-valuemax="<%= count %>">
                <%= level_completion %>%
              </div>
            </div>
          </li>
          <li class="list-group-item">Grade: <span class="grade <%= grade.downcase %>"><%= grade %></span> (<%= level_score %>%)</li>
          <li class="list-group-item">Ratio: <%= study_stats[:incorrect].zero? ? 0.0 : (study_stats[:correct].to_f / study_stats[:incorrect].to_f).round(2) %></li>
          <li class="list-group-item">Correct: <%= study_stats[:correct] %></li>
          <li class="list-group-item">Incorrect: <%= study_stats[:incorrect] %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
