<% content_for :vocabulary do %>
  <h5 class="card-title display-4">
    <%= @vocabulary.kanji.presence || @vocabulary.hiragana %>
  </h5>
<% end %>

<% content_for :answers do %>
  <%= form_tag(lesson_path(params.permit(:lesson_length, :jlpt_level)), method: "post", class: 'w-100') do %>
    <div class="btn-group-vertical btn-group-lg w-100" role="group" aria-label="Multiple choice answer buttons">
      <%= hidden_field_tag :vocabulary_id,  @vocabulary.id %>
      <% @answers.each do |answer| %>
        <button class="btn btn-light" type="submit" name="selected_vocabulary_id" value="<%= answer.id %>"><%= answer.meaning %></button>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/flip_card" %>
