<!DOCTYPE html>
<html>
  <head>
    <title>Peratto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <header class="bg-gradient-info">
      <div class="container row align-items-end justify-content-between mx-auto">
        <h1 class="col text-white text-shadow pt-2 pb-1 px-3">
          Peratto
          <span class="small">ぺらっと</span>
        </h1>
        <ul class="col-auto nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?(root_path) %>" href="/">Home</a>
          </li>
          <% if current_user.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle <%= 'active' if current_page?(lesson_path) || current_page?(start_lesson_path) %>" data-toggle="dropdown" href="/start_lesson" role="button" aria-haspopup="true" aria-expanded="false">Lessons</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/start_lesson?mode=endless">Endless</a>
                <a class="dropdown-item" href="/start_lesson?mode=random"">Random</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page?(history_path) %>" href="/history">History</a>
            </li>
          <% end %>
          <li class="nav-item">
            <% if current_user.blank? %>
              <a class="nav-link <%= 'active' if current_page?(login_path) %>" href="/login">Login</a>
            <% else %>
              <%= link_to 'Logout', logout_path, class: 'nav-link' %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    <main class="container">
      <div class="px-3">
        <%= yield %>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
