<div class="card mb-3 mt-5 mx-auto" style="max-width: 540px;">
  <div class="row no-gutters align-items-stretch">
    <div id="vocab-area" class="col-md-6 bg-gradient-info text-white d-flex flex-column align-items-center justify-content-center">
      <%= yield :vocabulary %>
    </div>
    <div class="col-md-6 card-body pb-0" style="padding-top: 1px">
      <%= yield :answers %>
    </div>
  </div>
  <div class="card-footer text-muted d-flex flex-column align-items-end">
    <% if session[:lesson_length].present? %>
      <div class="progress w-100">
        <div class="progress-bar" style="width: <%= session[:viewed_cards].length / session[:lesson_length].to_f * 100 %>%" role="progressbar" aria-valuenow="<%= session[:viewed_cards].length %>" aria-valuemin="0" aria-valuemax="<%= session[:lesson_length] %>"></div>
      </div>
    <% end %>

    <div>
      <% if @finished || session[:lesson_length].blank? || session[:viewed_cards].length >= session[:lesson_length].to_i %>
        <%= link_to "Finish", history_path, class: 'btn btn-secondary mt-1', role: "button", id: 'finish-button', style: session[:lesson_length].present? ? "display: none;" : "" %>
      <% end %>

      <% if !@finished && (session[:lesson_length].blank? || session[:viewed_cards].length < session[:lesson_length].to_i) %>
        <%= link_to "Next", lesson_path(params.permit(:jlpt_level, :difficulty, :mode)), method: "get", id: 'next-button', class: 'btn btn-primary mt-1 ml-1', role: "button", style: "display: none;" %>
      <% end %>
    </div>
  </div>
</div>
